@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>I can remember exactly one note for you:</p>
    <form method="post">
        <textarea name="text" class="form-control" style="max-width:400px;margin:0px auto 10px" rows="5">@Model.Text</textarea>
        <button type="submit" class="btn btn-primary">Save</button>
        <p class="text-success">@Model.Message</p>
    </form>
    <p>Using @Model.StorageTechnology</p>
</div>
